@model List<Flavor>

@{
    ViewData["Title"] = "Flavors Index";
}

<div class="container">
    <h2>Flavors</h2>
    <div class="row">
        <div class="col">
            <a href="#" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#addFlavorModal">
                Add Flavor
            </a>
            @if (Model.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var flavor in Model)
                        {
                            <tr>
                                <td>@flavor.Id</td>
                                <td>@flavor.Name</td>
                                <td>
                                    <a asp-controller="Flavors" asp-action="Details" asp-route-id="@flavor.Id" class="btn btn-primary">Details</a>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@flavor.Id">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No Flavor Added Yet</p>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="addFlavorModal" tabindex="-1" role="dialog" aria-labelledby="addFlavorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFlavorModalLabel">Add Flavor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Flavors" asp-action="Create" method="post">
                    <div class="form-group">
                        <label for="Name">Flavor Name:</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                    </div>
                    <button type="submit" class="btn btn-primary my-2">Add Flavor</button>
                </form>
            </div>
        </div>
    </div>
</div>


@foreach (var flavor in Model)
{
    <div class="modal fade" id="confirmDeleteModal-@flavor.Id" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel-@flavor.Id" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel-@flavor.Id">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-danger">WARNING: Deleting the flavor "@flavor.Name" will also remove it from all associated treats.</p>
                    <p>Are you sure you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a asp-controller="Flavors" asp-action="Delete" asp-route-id="@flavor.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}



<script>
    var createTreatModal = document.getElementById('addFlavorModal');
    createTreatModal.addEventListener('hidden.bs.modal', function () {
        var form = createTreatModal.querySelector('form');
        form.reset();
    });
</script>

